@font-face {
  font-family: "Papyrus";
  src: url("./assets/fonts/papyrus.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.formulario {
  margin: 2vh;
  width: 32vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4vh;
}

.textfield {
  height: 4vh;
}
.textfield_descripcion {
  height: 8vh;
}

.btn_gen {
  height: 4vw;
  border-radius: 16px;
  background-color: darkgreen;
}

.konva-card {
  display: inline-block;
  width: fit-content;
}
